@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
p{
    color: red;
}
li{
    color: blue;
}
li:hover{
    color: black;
}
h1{
    font-family: Unbounded, Roboto, Sans-serif;
    color: var(--var1)
}
:root{
    --var1: red;
}